:root {
  --primary-blue: #064ea4;
  --light-blue: #d7e7fb;
  --yellow: #fcdf69;
  --coral: #f99d76;
  --dark-text: #25210e;
  --light-text: #ffffff;
  --gray-text: #aaaaaa;
  --dark-blue-text: #0e2152;
}
